{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^reflect-metadata$",
    "^dotenv",
    "<THIRD_PARTY_MODULES>",
    "^@fastify/(.*)$",
    "^@/config/(.*)$",
    "^@/domain/(.*)$",
    "^@/application/(.*)$",
    "^@/infrastructure/(.*)$",
    "^@/presentation/(.*)$",
    "^@/shared/(.*)$",
    "^@/types/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
